# Auto detect text files and perform LF normalization
* text=auto eol=lf

# QML, XML, JSON, and source code
*.qml text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.txt text eol=lf

# Binary files
*.png binary
*.jpg binary
*.mo binary
*.ttf binary
*.woff2 binary
